.movie_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: salmon;
  min-height: 500px;
}

.movie_article {
  text-align: center;
  background-color: rgb(197, 91, 79);
  width: 60%;
  margin: 2vh 0;
  padding: 2vh;
  border-radius: 10px;
}

.movie_img {
  width: 200px;
  margin: 2vh;
  border-radius: 15px;
  border: 1px solid black;
}
