.movie_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie_introduce {
  margin: 20px 0 20px 0;
  color: white;
}

.movie_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie_article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.452) 0%,
    rgb(173, 2, 2) 50%,
    rgba(255, 0, 0, 0.452) 100%
  );
  width: 250px;
  margin: 2vh 2vw;
  padding: 2vh;
  border-radius: 10px;
  transition: 400ms;
  text-decoration: none;
  color: black;
  min-height: 410px;
}

.movie_article:hover {
  transform: scale(1.05);
}

.movie_img {
  width: 200px;
  margin: 2vh;
  border-radius: 15px;
  border: 1px solid black;
  min-height: 340px;
}
