.navLink_Bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(250, 235, 215, 0);
  text-align: center;
  margin: 0 0 1rem 0;
}
.navLink_Bar > * {
  padding: 10px;
}

.genre_article {
  background: rgb(4, 0, 7);
  background: linear-gradient(
    180deg,
    rgba(9, 127, 196, 0.705) 0%,
    rgba(8, 193, 240, 0.705) 50%,
    rgba(9, 127, 196, 0.705) 100%
  );
  margin: 20px 0 0 0;
  border: 1px solid black;
  border-radius: 10px;
  transition: 200ms;
  text-decoration: none;
  color: white;
}

.genre_article:hover {
  transform: scale(1.1);
  background-color: rgb(226, 108, 95);
  color: #ffffff;
  border: 1px solid rgb(61, 231, 10);
}
