.movie-image {
  opacity: 0; /* Définit l'opacité à 0 pour cacher l'image */
  transition: opacity 0.5s ease-in-out; /* Ajoute une transition de fondu de 0.5 seconde avec une accélération et un ralentissement */
  height: 500px;
  object-fit: cover;
  object-position: 50% 40%;
}

.movie-image.loaded {
  opacity: 1; /* Lorsque la classe "loaded" est appliquée, l'opacité passe à 1, ce qui affiche l'image */
}

.randomMovie_Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.randomMovieText {
  text-align: center;
  padding: 0 0 1rem 0;
}

.randomImage_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
