.back_toIndex {
  background: rgb(4, 0, 7);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.452) 0%,
    rgb(173, 2, 2) 50%,
    rgba(255, 0, 0, 0.452) 100%
  );
  margin: 20px 0 0 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 200ms;
  text-decoration: none;
  border: 1px solid white;
}

.back_toIndex:hover {
  transform: scale(1.1);
  background-color: rgb(226, 108, 95);
  color: #d6d6d6;
}

.pageNumber {
  background: rgb(4, 0, 7);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.452) 0%,
    rgb(173, 2, 2) 50%,
    rgba(255, 0, 0, 0.452) 100%
  );
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid white;
}

.textInfo {
  margin: 20px 0;
  text-align: center;
  color: white;
}

.arrowIcon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.arrowIcon:hover {
  transform: scale(1.4);
}
