.movieTitle {
  margin: 20px 0;
  text-align: center;
}

.backIndex {
  margin: 20px 0;
  font-weight: bold;
}

.movieDescription {
  text-align: center;
  width: 60%;
}

.movieBudget {
  margin: 10px 0;
  font-weight: bold;
}
