body {
  background-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  font-family: "Acme", sans-serif;
  color: white;
}

h3 {
  text-align: center;
}

h1 {
  background-color: black;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: red;
}

.researchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.researchButton {
  color: black;
  background-color: rgba(182, 255, 173, 0.8980392157);
  border-radius: 8px;
  height: 45px;
  width: 228px;
  margin: 0 5px;
  font-size: 22px;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
}

.researchButton:hover {
  background-color: rgba(148, 241, 135, 0.8980392157);
  border-radius: 15px;
}

.researchInput {
  color: black;
  background-color: #f2f2f2;
  border-radius: 4px;
  height: 40px;
  width: 220px;
  margin: 0 5px;
  font-size: 18px;
  text-align: center;
}

.back_toIndex {
  background: rgb(4, 0, 7);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.452) 0%, rgb(173, 2, 2) 50%, rgba(255, 0, 0, 0.452) 100%);
  margin: 20px 0 0 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 200ms;
  text-decoration: none;
  color: #000;
  border: 1px solid white;
}

.back_toIndex:hover {
  transform: scale(1.1);
  background-color: rgb(226, 108, 95);
  color: #313131;
}

.pageNumber {
  background: rgb(4, 0, 7);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.452) 0%, rgb(173, 2, 2) 50%, rgba(255, 0, 0, 0.452) 100%);
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid white;
}

.textInfo {
  margin: 20px 0;
  text-align: center;
  color: white;
}

.arrowIcon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.arrowIcon:hover {
  transform: scale(1.4);
}

.navLink_Bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(250, 235, 215, 0);
  text-align: center;
}

.navLink_Bar > * {
  padding: 10px;
}

.genre_article {
  background: rgb(4, 0, 7);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.452) 0%, rgb(173, 2, 2) 50%, rgba(255, 0, 0, 0.452) 100%);
  margin: 20px 0 0 0;
  border: 1px solid black;
  border-radius: 10px;
  transition: 200ms;
  text-decoration: none;
  color: white;
  border: 1px solid white;
}

.genre_article:hover {
  transform: scale(1.1);
  background-color: rgb(226, 108, 95);
  color: #ffffff;
  border: 1px solid rgb(61, 231, 10);
}

.movie_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie_introduce {
  margin: 20px 0 20px 0;
  color: white;
}

.movie_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie_article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgb(4, 0, 7);
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.452) 0%, rgb(173, 2, 2) 50%, rgba(255, 0, 0, 0.452) 100%);
  width: 250px;
  margin: 2vh 2vw;
  padding: 2vh;
  border-radius: 10px;
  transition: 400ms;
  text-decoration: none;
  color: black;
  min-height: 410px;
}

.movie_article:hover {
  transform: scale(1.05);
}

.movie_img {
  width: 200px;
  margin: 2vh;
  border-radius: 15px;
  border: 1px solid black;
  min-height: 340px;
}

.movieTitle {
  margin: 20px 0;
  text-align: center;
}

.backIndex {
  margin: 20px 0;
  font-weight: bold;
}

.movieDescription {
  text-align: center;
  margin: 0 10px;
}

.movieBudget {
  margin: 10px 0;
  font-weight: bold;
}

footer {
  background-color: black;
  color: red;
  text-align: center;
}/*# sourceMappingURL=index.css.map */